html {
	font-family: "Roboto";
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.search-field {
	box-sizing: border-box;
	border: 1px solid #faff00;
	background: transparent;
	height: 35px;
	width: 200px;
	padding: 15px 8px;
	font-family: "Roboto";
	font-size: 1.2em;
	color: #fff;
	border-radius: 17px;
}
.search-field:focus {
	outline: none;
}
